mat-card {
    margin: 15px;
  }
  mat-card-subtitle{
    display: flex;
    justify-content: space-between;
  }
  .card-holder {
    width: 50%;
    margin: auto;
  }
  mat-card-title {
    text-align: center;
  }
  mat-card-content {
    display: flex;
    justify-content: space-between;
  }
  