<div class="card-holder">
  <ng-container>
    <mat-card>
      <mat-card-title>Friends</mat-card-title>
      <mat-card-subtitle *ngFor="let friend of friends">
        <span>{{friend.name}}</span>
        <app-user-settings [currentUser]="friend.name"></app-user-settings>
      </mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>My posts</mat-card-title>
      <mat-card-subtitle *ngFor="let post of myPosts">
        <span>{{post.title}}</span>
        <app-settings [post]="post"></app-settings>
      </mat-card-subtitle>
    </mat-card>
    <mat-card *ngIf="this.isAdmin">
      <mat-card-title>Flagged Posts</mat-card-title>
      <mat-card-subtitle *ngFor="let flaggedPost of flaggedPosts">
        <span>{{flaggedPost.title}}</span>
      </mat-card-subtitle>
    </mat-card>
    <mat-card *ngIf="this.isAdmin">
      <mat-card-title>Locked Posts</mat-card-title>
      <mat-card-subtitle *ngFor="let lockedPost of lockedPosts">
        <span>{{lockedPost.title}}</span>
      </mat-card-subtitle>
    </mat-card>
  </ng-container>
</div>