<form [formGroup]="updatePostForm" (ngSubmit)="onSubmit(updatePostForm.value)">
  <mat-form-field class="width-100">
      <input #title matInput minlength="3" maxlength="50" formControlName="title">
  </mat-form-field>
  <br>
  <mat-form-field class="width-100">
  <textarea #content matInput minlength="3" maxlength="500" formControlName="content"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Update</button>
  <button mat-raised-button (click)="close($event)" type="button"  >Close</button>
  </form>
