<!-- <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <h2>Module 3 - Forum Project - <a href="https://www.telerikacademy.com/">Telerik Academy</a></h2>
    </div>
  </div>
</footer> -->

<footer appColorElement  elementColor="grey">
  <div layout="row" layout-align="center center">
    <h2 appBoldElement>MODULE 3 - Forum Project - <a href="https://www.telerikacademy.com/">Telerik Academy</a></h2>
  </div>
</footer>
