footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: rgb(0, 0, 150);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(220, 220, 220);
  background: rgb(180, 180, 180);
}

h2 {
  color: rgb(0, 0, 150);
  font-weight: normal;
  text-align: center;
}
