mat-card {
  margin: 15px;
}
mat-card-subtitle{
  display: flex;
  justify-content: space-between;
}
.card-holder {
  width: 50%;
  margin: auto;
}
.likes-holder{
  width: 10%;
  display: flex;
  justify-content: space-between;
}
mat-card-title {
  text-align: center;
}
mat-card-content {
  display: flex;
  justify-content: space-between;
}

mat-card-content > .likes-holder > span:nth-child(1){
  color: green;
  font-weight: bold;
  font-size: 1.5em;
}
mat-card-content > .likes-holder > span:nth-child(2){
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}