<div class="card-holder">
  <ng-container *ngFor="let post of posts">
    <mat-card (click)="showPost(post.id)">

      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>
        <span>{{post.author}}</span>
        <span>
          <app-user-settings [currentUser]="post.author" [post]="post" [posts]="posts"></app-user-settings>
        </span>
      </mat-card-subtitle>

      <mat-card-content>
        <div><span>Created on {{post.created | date: 'short' }}</span></div>
        <div class="likes-holder">
          <span>{{post.postLikes?.length}}</span>
          <span>{{post.postDislikes?.length}}</span>
        </div>
      </mat-card-content>

      <app-settings [post]="post"></app-settings>

    </mat-card>
  </ng-container>
</div>