mat-card{
  width: 80%;
  margin: auto;
  background-color: skyblue;
}
mat-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
mat-card-content > .likes-holder > span:nth-child(1){
  color: green;
  font-weight: bold;
  font-size: 1.5em;
}
mat-card-content > .likes-holder > span:nth-child(2){
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}
mat-card-subtitle {
  display: flex;
  justify-content: flex-end;
}
.likes-holder{
  width: 10%;
  display: flex;
  justify-content: space-between;
}
.title-holder{
  text-align: center;
}

.comments {
  width: 70%;
  margin: auto;
}
.editComment{
  margin-top: 10px;
  margin-left: 10%;
}
.commentButton{
  margin-left: 10%;
}
.post fieldset:disabled, .post fieldset:disabled input {
  border: none,
}
