<mat-card>

  <mat-card-content *ngIf="isAuthorOrAdmin" class="header-button">
    <div>
      <button mat-icon-button (click)="editMode = !editMode">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deletePost(post.id)">
        <mat-icon>delete_foreve</mat-icon>
      </button>
    </div>

    <div>
      <span>{{post.author}}</span>
    </div>

    <mat-card-subtitle>
      <span>
        <app-user-settings [currentUser]="post.author" [post]="post"></app-user-settings>
      </span>
    </mat-card-subtitle>

  </mat-card-content>

  <mat-card-title *ngIf="!editMode" class="title-holder">{{post.title}}</mat-card-title>
  <br>
  <form class="post" [formGroup]="updatePostForm" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="editMode">
      <mat-form-field class="width-100">
        <input #title matInput minlength="3" maxlength="50" formControlName="title" [(ngModel)]="post.title">
      </mat-form-field>
    </ng-container>

    <br>
    <mat-card-content *ngIf="!editMode">{{post.content}}</mat-card-content>
    <br>

    <mat-card-content>
      <ng-container *ngIf="editMode">
        <mat-form-field class="width-100">
          <textarea #content matInput minlength="3" maxlength="500" formControlName="content" [(ngModel)]="post.content"
            [disabled]="!editMode"></textarea>
        </mat-form-field>
      </ng-container>
    </mat-card-content>

    <ng-container *ngIf="editMode">
      <button mat-raised-button color="primary" type="submit">Update</button>
      <button mat-raised-button (click)="close($event)" type="button">Close</button>
    </ng-container>

  </form>

  <mat-card-content>
    <div>Created on {{post.created | date: 'short' }}</div>

    <div class="likes-holder">
      <span>
        {{post.postLikes?.length}}
      </span>

      <span>
        {{post.postDislikes?.length}}
      </span>
    </div>

    <div>
      <app-settings [post]="post"></app-settings>
    </div>
  </mat-card-content>
</mat-card>

<button class="commentButton" *ngIf="!showCreateComment" mat-raised-button (click)="showCreateComment = true">Add
  Comment</button>

<ng-container *ngIf="showCreateComment">
  <div class="editComment">
    <app-create-comment [postId]="post.id" (addComment)="addNewComment($event)" (closeComment)="closeComment($event)">
    </app-create-comment>
  </div>
</ng-container>


<div class="comments">
  <app-show-comment [comments]="comments"></app-show-comment>
</div>