<div class="card-holdercard-holder">
    <ng-container *ngFor="let comment of comments">
        <mat-card>
          <mat-card-content *ngIf="comment.isAuthorOrAdmin" class="header-buttons">
            <button mat-icon-button (click)="comment.editMode = !comment.editMode"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="deleteComment(comment.id)"><mat-icon>delete_foreve</mat-icon></button>
           </mat-card-content>

           <mat-card-content *ngIf="!comment.editMode">{{comment.content}}</mat-card-content>

        <mat-card-subtitle *ngIf="!comment.editMode">{{comment.author}}</mat-card-subtitle>

         <ng-container *ngIf="comment.editMode">
            <app-edit-comment [comment]="comment"
            (notifyParent)="finishEditComment($event)"
            (updatedComment)= "updateComment($event)"></app-edit-comment>
         </ng-container>


        <mat-card-content>
          <span>Created on {{comment.created | date: 'short' }}</span>
          <span>{{comment.updated  | date:'short'}}</span>
        </mat-card-content>
      </mat-card>
    </ng-container>
    </div>
