.card-holdercard-holder {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
mat-card-subtitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.likes-holder{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.likes-holder > span:nth-child(1){
  color: green;
  font-weight: bold;
  font-size: 1.5em;
}
.likes-holder > span:nth-child(2){
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}
mat-card {
  margin-top: 10px;
  background-color: azure;
}
.header-button{
  display: flex;
  align-content: flex-end;
}

