<div>
  <i class="material-icons like" (click)="this.likeOrDislikePost(true)" matTooltip="Like the post">
    thumb_up_alt
  </i>
  <i class="material-icons dislike" (click)="this.likeOrDislikePost(false)" matTooltip="Dislike the post">
    thumb_down_alt
  </i>
  <i class="material-icons lock-post" *ngIf="this.isAdmin && !this.isInCommentComponent" (click)="this.lockPost()"
    matTooltip="Lock post for changes">
    lock </i>
  <i class="material-icons flag-post" (click)="this.flagPost()" *ngIf="!this.isInCommentComponent"
    matTooltip="Flag post that doesn't meet form rules">
    flag </i>
  <i class="material-icons delete-post" *ngIf="(this.isAuthor || this.isAdmin) && !this.isInCommentComponent"
    (click)="this.deletePost()" matTooltip="Delete user post">
    delete_forever
  </i>
  <i class="material-icons delete-post" *ngIf="(this.isAuthor || this.isAdmin) && this.isInCommentComponent"
    (click)="this.deleteComment()" matTooltip="Delete comment">
    delete_forever
  </i>
</div>