div{
    display: flex;
    justify-content: flex-end;
}
i:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.2s; 
}
i{
    margin: 2px;
}
.delete-post{
    border-radius: 50%;
    padding: 1px;
    background: orange;
    color: white;
}
.flag-post{
    border-radius: 50%;
    padding: 1px;
    background: yellowgreen;
    color: white;
}
.lock-post{
    border-radius: 50%;
    padding: 1px;
    background: gray;
    color: white;
}
.like{
    border-radius: 50%;
    padding: 1px;
    background: yellowgreen;
    color: white;
}
.dislike{
    border-radius: 50%;
    padding: 1px;
    background: orangered;
    color: white;
}