i:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.2s; 
}
i{
    margin: 2px;
}
.delete-user{
    border-radius: 50%;
    padding: 1px;
    background: orangered;
    color: white;
}
.add-friend{
    border-radius: 50%;
    padding: 1px;
    background: green;
    color: white;
}
.rem-friend{
    border-radius: 50%;
    padding: 1px;
    background: red;
    color: white;
}
.ban-user{
    border-radius: 50%;
    padding: 1px;
    background: black;
    color: white;
}