<div>
  <i class="material-icons add-friend" (click)="this.addFriend()" matTooltip="Add user to friendlist">
    person_add
  </i>
  <i class="material-icons rem-friend" (click)="this.unFriend()" matTooltip="Remove user from friendlist">
    person_add
  </i>
  <i class="material-icons delete-user" *ngIf="this.isAdmin" (click)="this.deleteUser()"
    matTooltip="Delete user account">
    delete_sweep
  </i>
  <i class="material-icons ban-user" *ngIf="this.isAdmin" (click)="this.banUser()" matTooltip="Ban user account">
    block
  </i>
</div>
