<div class="width-50">
    <form [formGroup]="createCommentForm" (ngSubmit)="onSubmit(createCommentForm.value)">

  <mat-form-field class="width-100">
  <textarea #content matInput minlength="3" maxlength="500" placeholder="Content" formControlName="content"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
  <button mat-raised-button  (click)="close($event)" type="button">Close</button>
  </form>
  </div>
