<mat-toolbar>
  <a routerLink="/home">
    <h1 id="forum-title">The Forum</h1>
  </a>
  <button mat-raised-button color="primary" routerLink="/posts">Posts</button>

  <ng-template [ngIf]="this.loggedIn">
    <button mat-raised-button color="primary" routerLink="/create-post">Create post</button>
  </ng-template>

  <span class="fill-space"></span>

  <ng-template [ngIf]="!loggedIn">
    <button mat-raised-button color="accent" routerLink="/register">Register</button>
    <button mat-raised-button color="primary" routerLink="/login">Login</button>
  </ng-template>

  <ng-template [ngIf]="this.loggedIn">
    <span class="auth-username">Wellcome {{ username }}!</span>
    <button mat-raised-button color="warn" routerLink="/profile">Profile</button>
    <button mat-stroked-button color="primary" (click)="triggerLogout()">Logout</button>
  </ng-template>
</mat-toolbar>