<div class="width-50">
  <form [formGroup]="createPostForm" (ngSubmit)="onSubmit(createPostForm.value)">
<mat-form-field class="width-100">
    <input #title matInput minlength="3" maxlength="50" placeholder="Post title" formControlName="title">
    <!-- <mat-hint align ="end">{{input.value?.length || 0}}/10</mat-hint> -->

</mat-form-field>
<br>
<mat-form-field class="width-100">
<textarea #content matInput minlength="3" maxlength="500" placeholder="Content" formControlName="content"></textarea>
</mat-form-field>

<button mat-raised-button color="primary" type="submit">Submit</button>
<button mat-raised-button (click)="close($event)" type="button"  >Close</button>
</form>
</div>

<!-- {{createPostForm.value | json }} -->
